{
  "plugins": ["@babel/proposal-class-properties"],
  "presets": [["@babel/env", { "modules": false }], "@babel/react"],
  "env": {
    "test": {
      "plugins": ["@babel/proposal-class-properties"],
      "presets": ["@babel/env"]
    }
  }
}
