{
  "plugins": ["transform-class-properties"],
  "presets": [["env", { "modules": false }], "react"],
  "env": {
    "test": {
      "plugins": ["transform-class-properties"],
      "presets": ["env"]
    }
  }
}
