language: node_js
node_js:
  - "node"
cache: yarn
jobs:
  include:
    - stage: test & coverage
      script:
        - yarn test --coverage && cat ./coverage/lcov.info | npx coveralls
    - stage: build
      script:
        - yarn build
